<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>
<main

class="container">
 <div class="jumbotron">
       
    <h1 class="diplay-4">Welcome to my <%= title %>  page</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
   
 <h1 style="font-size:200%;">My mission statement</h1>
<p>Be a Better version of yourself 
    and compete with yourself, evryday!</p>
    <p>tJust want to explore the true and the optimum potential 
        
    </p>
    <br>
    <br>
    <br>
 <h1 style="font-size:200%">If you want to know about me more click on click below</h1>
 <a href="http://localhost:3000/about"><i class="fa-solid fa-circle-info"></i> Click here</a>
 
  </main>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>