<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <table class="table table-striped">
      <h1><%= title%></h1>
      <a href="/contacts-list/add"class="btn btn-primary"role="button"><i class="fa-solid fa-circle-plus"></i>Add a contact</a>
      <br>  
      <thead>
          <tr>
            <th scope="col">username</th>
            <th scope="col">password</th>
            <th scope="col">emaill</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>
            
          </tr>
        </thead>
        <tbody>
          <%  for (let count = 0; count<contactslist.length;count++){  %>      
              
            <tr>
            
            <td><%=  contactslist[count].username %></td>
            <td><%=  contactslist[count].password %></td>
            <td><%= contactslist[count].email %></td>
            <td>
              <a href="/contacts-list/edit/<%=contactslist[count]._id %> "class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit
              </a>
             
            </td>
            <td>
              <a href="/contacts-list/delete/<%=contactslist[count]._id %> "class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Delete
              </a>
             
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
  </main>



<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
